! arista-ceos-sandbox-agent / leaf1
! LAB-ONLY eBGP underlay. Not a production network.
! Management0 addressing is omitted on purpose — Containerlab/Docker assign it.
!
hostname leaf1
!
! __LAB_AAA__
!
aaa authentication login default local
aaa authorization exec default local
!
ip routing
!
lldp run
!
interface Loopback0
   description leaf1 router-id / advertised loopback
   ip address 10.255.0.11/32
!
interface Ethernet1
   description p2p to spine1 eth1
   no switchport
   ip address 10.0.1.1/31
   no shutdown
!
management api http-commands
   protocol http
   no shutdown
!
management ssh
   idle-timeout 120
!
router bgp 65101
   router-id 10.255.0.11
   neighbor 10.0.1.0 remote-as 65000
   neighbor 10.0.1.0 description spine1
   network 10.255.0.11/32
!
end
